*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
}

#canvas{
  border: 3px solid #fff;
  background-color: blue;
}

